/* _content/TELBlazorComponentLibrary.GitPageBlazorWasm/Components/SimpleCounter.razor.rz.scp.css */
h3[b-y7cips57ri] {
    color: blue;
    font-size: 24px;
}
.scoped-css-simple-counter-red[b-y7cips57ri] {
color: red;
}
button[b-y7cips57ri] {
    background-color: lightblue;
    color: white;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
}

    button:hover[b-y7cips57ri] {
        background-color: orange; /*navy;*/
    }
